extends layout
block content                
  section#header16-b.header1.cid-s3uW7l0we7(data-bg-video='https://youtu.be/dk9uNWPP7EA')
    .mbr-overlay(style='opacity: 0.6; background-color: rgb(35, 35, 35);')
    .container
      .row.justify-content-md-center
        .col-md-10.align-center
          h1.mbr-section-title.mbr-bold.pb-3.mbr-fonts-style.display-1(style="color:#DAA625")
            | About Us
          p.mbr-text.pb-3.mbr-fonts-style.display-5
            | We focus on stretching education for free to all who are in search of knowledge.
          .mbr-section-btn
            a.btn.btn-md.btn-success-outline.display-4(href='#content12-j')
              span.mbri-info.mbr-iconfont.mbr-iconfont-btn
              | Who We Are              
  section#content12-j.mbr-section.article.content12.cid-s3uXC0YCiA
    .container
      .jumbotron.text-center
        h1 Mission
        p
          i 
            b Forge the Future
      .media-container-row
        .mbr-text.counter-container.col-12.col-md-8.mbr-fonts-style.display-7
          ul
            li
              strong FREE ONLINE STUDY
              |  - Online Studies is our main interest and we driven to spread knowledge from primary level to University Level freely.              
            li
              strong CERTIFICATE COURSES
              |  - we offer certificate courses at a relative cheap price. This are in computing and CPA              
            li
              strong TEACHER AND LECTURERS
              |  - we rely on passionate teachers as well as lecturers who volunteer to partner with us to offer education freely.              
  section#team1-1g.team1.cid-s3vQL8KOND
    .container.align-center
      h2.pb-3.mbr-fonts-style.mbr-section-title.display-2
        | OUR AWESOME FOUNDERS
      h3.pb-5.mbr-section-subtitle.mbr-fonts-style.mbr-light.display-5
        | Below are individual who contributed to the formation of this venture.
      .row.media-row
        .team-item.col-lg-3.col-md-6
          .item-image
            img(src='images/face1.jpg' alt='' title='')
          .item-caption.py-3
            .item-name.px-2
              p.mbr-fonts-style.display-5
                | Jay
            .item-role.px-2
              p CEO
            .item-social.pt-2
              a(href='#' target='_blank')
                span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-linkedin.socicon.mbr-iconfont.mbr-iconfont-social              
        .team-item.col-lg-3.col-md-6
          .item-image
            img(src='images/face1.jpg' alt='' title='')
          .item-caption.py-3
            .item-name.px-2
              p.mbr-fonts-style.display-5
                | Dhruv
            .item-role.px-2
              p Director
            .item-social.pt-2
              a(href='#' target='_blank')
                span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-linkedin.socicon.mbr-iconfont.mbr-iconfont-social              
        .team-item.col-lg-3.col-md-6
          .item-image
            img(src='images/face1.jpg' alt='' title='')
          .item-caption.py-3
            .item-name.px-2
              p.mbr-fonts-style.display-5
                | Manav
            .item-role.px-2
              p Financial Manager
            .item-social.pt-2
              a(href='#' target='_blank')
                span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-linkedin.socicon.mbr-iconfont.mbr-iconfont-social              
        .team-item.col-lg-3.col-md-6
          .item-image
            img(src='images/face1.jpg' alt='' title='')
          .item-caption.py-3
            .item-name.px-2
              p.mbr-fonts-style.display-5
                | Peter
            .item-role.px-2
              p Software Developer
            .item-social.pt-2
              a(href='#' target='_blank')
                span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-linkedin.socicon.mbr-iconfont.mbr-iconfont-social
      .row.media-row
        .team-item.col-lg-3.col-md-6
          .item-image
            img(src='images/face2.jpg' alt='' title='')
          .item-caption.py-3
            .item-name.px-2
              p.mbr-fonts-style.display-5
                | Mariam
            .item-role.px-2
              p Production Manager
            .item-social.pt-2
              a(href='#' target='_blank')
                span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-linkedin.socicon.mbr-iconfont.mbr-iconfont-social              
        .team-item.col-lg-3.col-md-6
          .item-image
            img(src='images/face1.jpg' alt='' title='')
          .item-caption.py-3
            .item-name.px-2
              p.mbr-fonts-style.display-5
                | John
            .item-role.px-2
              p Operations Manager
            .item-social.pt-2
              a(href='#' target='_blank')
                span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-linkedin.socicon.mbr-iconfont.mbr-iconfont-social              
        .team-item.col-lg-3.col-md-6
          .item-image
            img(src='images/face1.jpg' alt='' title='')
          .item-caption.py-3
            .item-name.px-2
              p.mbr-fonts-style.display-5
                | Ian
            .item-role.px-2
              p Marketing Manager
            .item-social.pt-2
              a(href='#' target='_blank')
                span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-linkedin.socicon.mbr-iconfont.mbr-iconfont-social              
        .team-item.col-lg-3.col-md-6
          .item-image
            img(src='images/face1.jpg' alt='' title='')
          .item-caption.py-3
            .item-name.px-2
              p.mbr-fonts-style.display-5
                | Chris
            .item-role.px-2
              p Organization Manager
            .item-social.pt-2
              a(href='#' target='_blank')
                span.p-1.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
              a(href='#' target='_blank')
                span.p-1.socicon-linkedin.socicon.mbr-iconfont.mbr-iconfont-social
  section#counters1-e.counters1.counters.cid-s3uXcRBMJh
    .container
      h2.mbr-section-title.pb-3.align-center.mbr-fonts-style.display-2
        | Resources
        br
      h3.mbr-section-subtitle.mbr-fonts-style.display-5 Below are our main sources of information to facilitate education.
      .container.pt-4.mt-2
        .media-container-row
          .card.p-3.align-center.col-12.col-md-6.col-lg-4
            .panel-item.p-3
              .card-img.pb-3
                span.mbr-iconfont.mbri-users(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
              .card-text
                h3.count.pt-3.pb-3.mbr-fonts-style.display-2 200
                h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7 Teachers &amp; Lecturers
                p.mbr-content-text.mbr-fonts-style.display-7
                  | We have volunteer teachers and lecturers whom we partner with from various universities around the world.
                  br
                  | Feel free to join us if your lecturer or teacher.
          .card.p-3.align-center.col-12.col-md-6.col-lg-4
            .panel-item.p-3
              .card-img.pb-3
                span.mbr-iconfont.mbri-cloud(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
              .card-text
                h3.count.pt-3.pb-3.mbr-fonts-style.display-2 80
                h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7 Online Libraries
                p.mbr-content-text.mbr-fonts-style.display-7
                  | Our online libraries contain books and various articles that can help in gaining more knowledge
          .card.p-3.align-center.col-12.col-md-6.col-lg-4
            .panel-item.p-3
              .card-img.pb-3
                span.mbr-iconfont.mbri-database(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
              .card-text
                h3.count.pt-3.pb-3.mbr-fonts-style.display-2
                  | 350
                h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7 Databases
                p.mbr-content-text.mbr-fonts-style.display-7
                  | Contain Online videos to aid learning with other learning materials such as podcasts
  section#services2-1k.services2.cid-s3vS77oVZP
    // 
    // 
    // Overlay
    // Container
    .container
      .col-md-12
        .media-container-row
          .mbr-figure(style='width: 50%;')
            img(src='images/support.jpg' alt='support' title='')
          .align-left.aside-content
            h2.mbr-title.pt-2.mbr-fonts-style.display-2 Support Us
            .mbr-section-text
              p.mbr-text.text1.pt-2.mbr-light.mbr-fonts-style.display-7
                | Help us raise money and generate more study content as well as reach out to many others who need free education to help them succeed in future.
              p.mbr-text.text2.pt-4.mbr-light.mbr-fonts-style.display-7 All forms of support are welcome.
            // Btn
            .mbr-section-btn.pt-3.align-left
              a.btn.btn-md.btn-primary.display-4(href='#')
                span.mbri-mobile.mbr-iconfont.mbr-iconfont-btn
                | Mpesa
              a.btn.btn-md.btn-success-outline.display-4(href='#')
                span.mbri-cash.mbr-iconfont.mbr-iconfont-btn
                | KCB bank
  