extends layout 

block content  
  section.header12.cid-s3zM5g73ip(data-bg-video="https://youtu.be/wJ9--xyoGPE" id="header12-3s")
    .mbr-overlay(style='opacity: 0.5; background-color: black;')
    .container
      .media-container
        .col-md-12.align-center
          h1.mbr-section-title.pb-3.mbr-white.mbr-bold.mbr-fonts-style.display-1
            | Courses
          p.mbr-text.pb-3.mbr-white.mbr-fonts-style.display-5
            | Knowledge is power. With great knowledge comes more resposibilities.
          .mbr-section-btn.align-center.py-2
            a.btn.btn-md.btn-primary.display-4(href='#counters2-4c') MORE
          .icons-media-container.mbr-white
            .card.col-12.col-md-6.col-lg-3
              .icon-block
                a(href='#counters2-4c')
                  span.mbr-iconfont.mbri-delivery(style='color: rgb(204, 204, 204); fill: rgb(204, 204, 204);')
              h5.mbr-fonts-style.display-5 Enrollment
            .card.col-12.col-md-6.col-lg-3
              .icon-block
                a(href='#features8-7')
                  span.mbr-iconfont.mbri-add-submenu(style='color: rgb(204, 204, 204); fill: rgb(204, 204, 204);')
              h5.mbr-fonts-style.display-5 Courses Available
            .card.col-12.col-md-6.col-lg-3
              .icon-block
                a(href='#services2-4n')
                  span.mbr-iconfont.mbri-credit-card(style='color: rgb(204, 204, 204); fill: rgb(204, 204, 204);')
              h5.mbr-fonts-style.display-5
                | Certificates
            .card.col-12.col-md-6.col-lg-3
              .icon-block
                a(href='#info2-3o')
                  span.mbr-iconfont.mbri-briefcase(style='color: rgb(204, 204, 204); fill: rgb(204, 204, 204);')
              h5.mbr-fonts-style.display-5 Tutor Join
    .mbr-arrow.hidden-sm-down(aria-hidden='true')
      a(href='#next')
        i.mbri-down.mbr-iconfont
  section#counters2-4c.counters2.counters.cid-s3AEB1zYUQ
    .container.pt-4.mt-2
      .media-container-row
        .media-block(style='width: 49%;')
          h2.mbr-section-title.pb-3.align-left.mbr-fonts-style.display-2
            | Enrollment
          h3.mbr-section-subtitle.pb-5.align-left.mbr-fonts-style.display-5
            | We accept students from all other the world
          .mbr-figure
            img(src='images/students.jpg' alt='' title='')
        .cards-block
          .cards-container
            .card.px-3.align-left.col-12.col-md-6
              .panel-item.p-3
                .card-img.pb-3
                  span.mbr-iconfont.pr-2.mbri-smile-face(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
                  h3.count.py-3.mbr-fonts-style.display-2 212
                .card-text
                  h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7 Primary Students
                  p.mbr-content-text.mbr-fonts-style.display-7
                    | From grade 1 to grade 8.
            .card.px-3.align-left.col-12.col-md-6
              .panel-item.p-3
                .card-img.pb-3
                  span.mbr-iconfont.pr-2.mbri-extension(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
                  h3.count.py-3.mbr-fonts-style.display-2
                    | 430
                .card-text
                  h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7 Secondary Students
                  p.mbr-content-text.mbr-fonts-style.display-7
                    | From form 1 to form 4.
            .card.px-3.align-left.col-12.col-md-6
              .panel-item.p-3
                .card-img.pb-3
                  span.mbr-iconfont.pr-2.mbri-briefcase(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
                  h3.count.py-3.mbr-fonts-style.display-2 478
                .card-text
                  h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7
                    | University Students
                  p.mbr-content-text.mbr-fonts-style.display-7
                    | From first year students to forth year students.
            .card.px-3.align-left.col-12.col-md-6
              .panel-item.p-3
                .card-img.pb-3
                  span.mbr-iconfont.pr-2.mbri-globe-2(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
                  h3.count.py-3.mbr-fonts-style.display-2
                    | 1120
                .card-texts
                  h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7
                    | Total Students
                  p.mbr-content-text.mbr-fonts-style.display-7
                    | Free and reliable to all.
  section#features8-7.features8.cid-s3uUVPKNeF.mbr-parallax-background
    .mbr-overlay(style='opacity: 0.6; background-color: rgb(0, 0, 0);')
    .container
      .media-container-row
        .card.col-12.col-md-6.col-lg-4
          .card-img
            span.mbri-smile-face.mbr-iconfont
          .card-box.align-center
            h4.card-title.mbr-fonts-style.display-7 Primary Level
            p.mbr-text.mbr-fonts-style.display-7
              | Get equiped in areas of science, maths, english and social studies and many more.
            .mbr-section-btn.text-center
              a.btn.btn-success-outline.display-4(href='/primary_courses')
                span.mbri-edit.mbr-iconfont.mbr-iconfont-btn
                | Join
        .card.col-12.col-md-6.col-lg-4
          .card-img
            span.mbri-extension.mbr-iconfont
          .card-box.align-center
            h4.card-title.mbr-fonts-style.display-7 Secondary Level
            p.mbr-text.mbr-fonts-style.display-7
              | Get equiped in maths, english, computer, business, agriculture, physics, biology, chemistry and many more.
            .mbr-section-btn.text-center
              a.btn.btn-success-outline.display-4(href='/secondary_courses')
                span.mbri-edit.mbr-iconfont.mbr-iconfont-btn
                | Join
        .card.col-12.col-md-6.col-lg-4
          .card-img
            span.mbri-briefcase.mbr-iconfont
          .card-box.align-center
            h4.card-title.mbr-fonts-style.display-7 University Level
            p.mbr-text.mbr-fonts-style.display-7
              |  Get equiped on liberal arts, pharmacy, computer science, business courses, and mechanical courses.
            .mbr-section-btn.text-center
              a.btn.btn-success-outline.display-4(href='/university_courses')
                span.mbri-edit.mbr-iconfont.mbr-iconfont-btn
                | Join
  section#services2-4n.services2.cid-s3B4PqH8tM
    // 
    // 
    // Overlay
    // Container
    .container
      .col-md-12
        .media-container-row
          .mbr-figure(style='width: 50%;')
            img(src='images/mbr-952x672.jpg' alt='cert' title='')
          .align-left.aside-content
            h2.mbr-title.pt-2.mbr-fonts-style.display-2 Certificate in Computing
            .mbr-section-text
              p.mbr-text.text1.pt-2.mbr-light.mbr-fonts-style.display-7
                | It takes 1 to 2 months depending on study time table given. The certificate equips you with fundamental skills and knowledge in computing, preparing you for further study or enhancing your professional development and employability within the IT industry.
              p.mbr-text.text2.pt-4.mbr-light.mbr-fonts-style.display-2
                | Ksh 1999 &nbsp;
                span.cost Ksh 5999
            // Btn
            .mbr-section-btn.pt-3.align-left
              a.btn.btn-warning-outline.display-4(href='#')
                | Enroll Now
  section#services2-4m.services2.cid-s3B4OyX43W
    // 
    // 
    // Overlay
    // Container
    .container
      .col-md-12
        .media-container-row
          .mbr-figure(style='width: 50%;')
            img(src='images/mbr-952x632.jpg' alt='cert' title='')
          .align-left.aside-content
            h2.mbr-title.pt-2.mbr-fonts-style.display-2
              | Certificate in CPA
            .mbr-section-text
              p.mbr-text.text1.pt-2.mbr-light.mbr-fonts-style.display-7
                | It is intended for those students who wish to qualify and work as professional accountants, auditors, finance managers, tax specialists and financial consultants. Experienced accountants and students who have completed CPA examinantions would be wise to consider becoming certified public accountants.                
              p.mbr-text.text2.pt-4.mbr-light.mbr-fonts-style.display-2
                | Ksh 3999 &nbsp;
                span.cost Ksh 8999
            // Btn
            .mbr-section-btn.pt-3.align-left
              a.btn.btn-warning-outline.display-4(href='#')
                | Enroll Now
  section#info2-3o.mbr-section.info2.cid-s3zILnBXe2
    .container
      .row.main.justify-content-center
        .media-container-column.col-12.col-lg-3.col-md-4
          .mbr-section-btn.align-left.py-4
            a.btn.btn-primary.display-4(href='#')
              span.mbri-user.mbr-iconfont.mbr-iconfont-btn(style='color: rgb(255, 255, 255);')
              |                     Join Us
        .media-container-column.title.col-12.col-lg-7.col-md-6
          h2.align-right.mbr-bold.mbr-white.pb-3.mbr-fonts-style.display-2 Volunteer us as a Tutor.
          h3.mbr-section-subtitle.align-right.mbr-light.mbr-white.mbr-fonts-style.display-5
            | Join us as a Teacher or Lecturer and help us reach out to the less fortunate as well offer knowlegde for development.
  section#counters1-e.counters1.counters.cid-s3uXcRBMJh
    .container
      h2.mbr-section-title.pb-3.align-center.mbr-fonts-style.display-2
        | Resources
        br
      h3.mbr-section-subtitle.mbr-fonts-style.display-5 Below are our main sources of information to facilitate education.
      .container.pt-4.mt-2
        .media-container-row
          .card.p-3.align-center.col-12.col-md-6.col-lg-4
            .panel-item.p-3
              .card-img.pb-3
                span.mbr-iconfont.mbri-users(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
              .card-text
                h3.count.pt-3.pb-3.mbr-fonts-style.display-2 200
                h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7 Teachers &amp; Lecturers
                p.mbr-content-text.mbr-fonts-style.display-7
                  | We have volunteer teachers and lecturers whom we partner with from various universities around the world.
                  br
                  | Feel free to join us if your lecturer or teacher.
          .card.p-3.align-center.col-12.col-md-6.col-lg-4
            .panel-item.p-3
              .card-img.pb-3
                span.mbr-iconfont.mbri-cloud(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
              .card-text
                h3.count.pt-3.pb-3.mbr-fonts-style.display-2 80
                h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7 Online Libraries
                p.mbr-content-text.mbr-fonts-style.display-7
                  | Our online libraries contain books and various articles that can help in gaining more knowledge
          .card.p-3.align-center.col-12.col-md-6.col-lg-4
            .panel-item.p-3
              .card-img.pb-3
                span.mbr-iconfont.mbri-database(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
              .card-text
                h3.count.pt-3.pb-3.mbr-fonts-style.display-2
                  | 350
                h4.mbr-content-title.mbr-bold.mbr-fonts-style.display-7 Databases
                p.mbr-content-text.mbr-fonts-style.display-7
                  | Contain Online videos to aid learning with other learning materials such as podcasts
