doctype html
head  
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='generator' content='Pyra, https://github.com/petermirithu')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1')
  link(rel='shortcut icon' href='images/logo.png' type='image/icon')
  meta(name='description' content='enlightenment site')
  title=title  
  link(rel='stylesheet' href='stylesheets/mobirise-icons-bold.css')
  link(rel='stylesheet' href='stylesheets/mobirise-icons.css')
  link(rel='stylesheet' href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet' href='stylesheets/bootstrap-grid.min.css')
  link(rel='stylesheet' href='stylesheets/bootstrap-reboot.min.css')  
  link(rel='stylesheet' href='stylesheets/navbar.css')
  link(rel='stylesheet' href='stylesheets/animate.min.css')
  link(rel='stylesheet' href='stylesheets/tether.min.css')
  link(rel='stylesheet' href='stylesheets/socicon.css')
  link(rel='stylesheet' href='stylesheets/theme.css')
  link(rel='preload' as='style' href='stylesheets/mbr-additional.css')
  link(rel='stylesheet' href='stylesheets/mbr-additional.css' type='text/css')

body  
  section#menu1-0.menu.cid-qTkzRZLJNu(once='menu')
    nav.navbar.navbar-expand.beta-menu.navbar-dropdown.align-items-center.navbar-fixed-top.navbar-toggleable-sm
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        .hamburger
          span
          span
          span
          span
      .menu-logo
        .navbar-brand
          span.navbar-logo
            a(href='/')
              img(src='images/logo.png' alt='Logo' title='' style='height: 3.8rem;')
          span.navbar-caption-wrap
            a.navbar-caption.text-white.display-4(href='/') Enlight
              em(style="color:#FFC75F") en
              b ment
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.nav-dropdown(data-app-modern-menu='true')
          li.nav-item
            a.nav-link.link.text-white.display-4(href='#')
          li.nav-item
            a.nav-link.link.text-white.display-4(href='/')            
              span.mbrib-home.mbr-iconfont.mbr-iconfont-btn
              | Home
          li.nav-item
            a.nav-link.link.text-white.display-4(href='/about') About Us
          li.nav-item.dropdown
            a.nav-link.link.text-white.dropdown-toggle.display-4(href='courses.html#header12-3s' data-toggle='dropdown-submenu' aria-expanded='false') Courses
            .dropdown-menu
              a.text-white.dropdown-item.display-4(href='courses.html#header12-3s' aria-expanded='true') General
              a.text-white.dropdown-item.display-4(href='Primary_courses.html#header8-2g') Primary Level
              a.text-white.dropdown-item.display-4(href='Secondary_courses.html#header8-2u' aria-expanded='false') Secondary Level
              a.text-white.dropdown-item.display-4(href='University_courses.html#header8-35' aria-expanded='false') University Level
          li.nav-item
            a.nav-link.link.text-white.display-4(href='/contact') Contact Us
          li.nav-item
            a.nav-link.link.text-white.display-4(href='#')
              span.mbrib-search.mbr-iconfont.mbr-iconfont-btn(style='color: rgb(0, 106, 186);')
          li.nav-item
            a.nav-link.link.text-white.display-4(href='#')
        .navbar-buttons.mbr-section-btn
          a.btn.btn-sm.btn-success.display-4(href='#')
            span.mbrib-login.mbr-iconfont.mbr-iconfont-btn
            | Sign In
  block content
  section#footer4-1i.footer4.cid-s3vRrgSi8K
    .container
      .media-container-row.content.mbr-white
        .col-md-3.col-sm-4
          .mb-3.img-logo
            a(href='/')
              img(src='images/logo.png' alt='online study' title='')
          p.mb-3.mbr-fonts-style.foot-title.display-7
            | Enlightenment
          p.mbr-text.mbr-fonts-style.mbr-links-column.display-7
            a.text-white(href='/about') About Us
            br
            | Courses
            br
            | Certificates&nbsp;
            br
            a.text-white(href='/contact') Get In Touch
        .col-md-4.col-sm-8
          p.mb-4.foot-title.mbr-fonts-style.display-7
            | RECENT NEWS
          p.mbr-text.mbr-fonts-style.foot-text.display-7
            | We partnered with a few of public universities such as University of Nairobi to facilitate online teaching in our platform            
        .col-md-4.offset-md-1.col-sm-12
          p.mb-4.foot-title.mbr-fonts-style.display-7
            | SUBSCRIBE
          p.mbr-text.mbr-fonts-style.form-text.display-7
            | Get monthly updates and free resources.
          .media-container-column(data-form-type='formoid')
            // -Formbuilder Form-
            form.mbr-form.form-with-styler(action='#' method='POST' data-form-title='Form')
              input(type='hidden' name='email' data-form-email='true' value='Ti1L0UJvOwr8EpLjZh9NNecyX6ZIDwgFusaIc44+xD4NELvUlFm5ZW4Y+OThsPIZuye3YzylM7FGHj5wwFhS17HchS4pBe+ykKVrCejXkykm7BAiGrhNEZLf8xKjB2S+')
              .row.form-inline.justify-content-center
                .alert.alert-success.col-12(hidden='hidden' data-form-alert='') Thanks for filling out the form!
                .alert.alert-danger.col-12(hidden='hidden' data-form-alert-danger='')
              .dragArea.row.form-inline.justify-content-center
                .col-auto.form-group(data-for='email')
                  input#email-footer4-1i.form-control.input-sm.input-inverse.my-2.display-7(type='email' name='email' placeholder='Email' data-form-field='Email' required='required')
                .col-auto.input-group-btn.m-2
                  button.btn.m-0.btn-primary.display-4(type='submit') Subscribe
            // -Formbuilder Form-
          p.mb-4.mbr-fonts-style.foot-title.display-7
            | CONNECT WITH US
          .social-list.pl-0.mb-0
            .soc-item
              a(href='#' target='_blank')
                span.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
            .soc-item
              a(href='#' target='_blank')
                span.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
            .soc-item
              a(href='#' target='_blank')
                span.socicon-youtube.socicon.mbr-iconfont.mbr-iconfont-social
            .soc-item
              a(href='#' target='_blank')
                span.socicon-instagram.socicon.mbr-iconfont.mbr-iconfont-social
            .soc-item
              a(href='#' target='_blank')
                span.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
      .footer-lower
        .media-container-row
          .col-sm-12
            hr
        .media-container-row.mbr-white
          .col-sm-12.copyright
            p.mbr-text.mbr-fonts-style.display-7
              | &copy; Copyright 2020 Enlightenment&nbsp;- All Rights Reserved

script(src='javascripts/jquery.min.js')
script(src='javascripts/popper.min.js')
script(src='javascripts/bootstrap.min.js')
script(src='https://apis.google.com/js/plusone.js')
script(src='javascripts/smooth-scroll.js')
script(src='javascripts/jquery.viewportchecker.js')
script(src='javascripts/nav-dropdown.js')
script(src='javascripts/navbar-dropdown.js')
script(src='javascripts/jquery.touch-swipe.min.js')
script(src='javascripts/cookies-alert-core.js')
script(src='javascripts/cookies-alert-script.js')
script(src='javascripts/jquery.mb.ytplayer.min.js')
script(src='javascripts/jquery.mb.vimeo_player.js')
script(src='javascripts/mbr-switch-arrow.js')
script(src='javascripts/bootstrap-carousel-swipe.js')
script(src='javascripts/mbr-clients-slider.js')
script(src='javascripts/jarallax.min.js')
script(src='javascripts/tether.min.js')
script(src='javascripts/theme.js')
script(src='javascripts/formoid.min.js')
input(name='cookieData' type='hidden' data-cookie-customdialogselector='null' data-cookie-colortext='#000000' data-cookie-colorbg='rgba(234, 239, 241, 0.99)' data-cookie-textbutton='Agree' data-cookie-colorbutton='' data-cookie-colorlink='#006aba' data-cookie-underlinelink='true' data-cookie-text="We use cookies to give you the best experience. Read our <a href='#'>cookie policy</a>.")
#scrollToTop.scrollToTop.mbr-arrow-up
  a(style='text-align: center;')
    i.mbr-arrow-up-icon.mbr-arrow-up-icon-cm.cm-icon.cm-icon-smallarrow-up
input(name='animation' type='hidden')