extends layout 

block content
  section#header16-49.header1.cid-s3AmiWQdrR(data-bg-video='https://youtu.be/kCOA7Npj-tM')        
    .mbr-overlay(style='opacity: 0.6; background-color: rgb(35, 35, 35);')
    .container
      .row.justify-content-md-center
        .col-md-10.align-center
          h1.mbr-section-title.mbr-bold.pb-3.mbr-fonts-style.display-1(style="color:#DAA625") Primary Live Classes
          p.mbr-text.pb-3.mbr-fonts-style.display-5(style="color:black")
            | Don't limit a child to your own learning, for he/she was born in another time.
          .mbr-section-btn
            a.btn.btn-md.btn-success-outline.display-4(href='#clax')
              span.mbri-edit.mbr-iconfont.mbr-iconfont-btn
              | Join
  
  section
    div.jumbotron#clax
      h1.text-center
        b Classes In Session
      p.text-center Sssssh! Classes on going

    h2
      b Social Studies- Stages of a River
    p
      i Just Unmute the video to join class
    .video_c 
      iframe(width="100%" height="100%" src="https://www.youtube.com/embed/fdMmzY7XjFo?rel=0;&autoplay=1;&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)              

    hr
    h2
      b Rainforest Facts for Kids
    p
      i Just Unmute the video to join class
    .video_c 
      iframe(width="100%" height="100%" src="https://www.youtube.com/embed/BO4UYhhU-8c?rel=0;&autoplay=1;&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)              

    hr
    h2
      b Seven Continents of the world
    p
      i Just Unmute the video to join class
    .video_c 
      iframe(width="100%" height="100%" src="https://www.youtube.com/embed/wYYakyS_HOg?rel=0;&autoplay=1;&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)                