extends layout
block content
  section#header8-35.header8.cid-s3zEkqQDI1.mbr-parallax-background
    .mbr-overlay(style='opacity: 0.4; background-color: rgb(0, 0, 0);')
    .container.align-center
      .row.justify-content-md-center
        .mbr-white.col-md-10
          h1.mbr-section-title.align-center.py-2.mbr-bold.mbr-fonts-style.display-1
            | University Section.
          p.mbr-text.align-center.py-2.mbr-fonts-style.display-5
            | Study without desire spoils the memory, and it retains nothing that it takes in.
          .mbr-media.show-modal.align-center.py-2(data-modal='.modalWindow')
            span.mbr-iconfont.mbrib-play(style='color: rgb(0, 106, 186); fill: rgb(0, 106, 186);')
          .icon-description.align-center.font-italic.pb-3.mbr-fonts-style.display-7
            | welcome
          .mbr-section-btn.text-center
            a.btn.btn-md.btn-primary.display-4(href='#features3-38') Classes
    div
      .modalWindow(style='display: none;')
        .modalWindow-container
          .modalWindow-video-container
            .modalWindow-video
              iframe(width='100%' height='100%' frameborder='0' allowfullscreen='1' data-src='https://youtu.be/HupgmoSoqiQ')
            a.close(role='button' data-dismiss='modal')
              span.mbri-close.mbr-iconfont.closeModal(aria-hidden='true')
              span.sr-only Close
  section#tabs3-2l.tabs3.cid-s3zyBVSTo0
    .container
      h2.mbr-section-title.align-center.pb-3.mbr-fonts-style.display-2
        | Learning Outcomes
      h3.mbr-section-subtitle.display-5.align-center.mbr-light.mbr-fonts-style
        | Your just in the right place at the right time.
    .container-fluid
      .row.tabcont
        ul.nav.nav-tabs.pt-3.mt-5(role='tablist')
          li.nav-item.mbr-fonts-style
            a.nav-link.show.active.display-7(role='tab' data-toggle='tab' href='#tabs3-2l_tab0' aria-selected='true')
              | Evaluating
          li.nav-item.mbr-fonts-style
            a.nav-link.show.active.display-7(role='tab' data-toggle='tab' href='#tabs3-2l_tab1' aria-selected='true')
              | Understanding
          li.nav-item.mbr-fonts-style
            a.nav-link.show.active.display-7(role='tab' data-toggle='tab' href='#tabs3-2l_tab2' aria-selected='true')
              | Creating
    .container
      .row.px-1
        .tab-content
          #tab1.tab-pane.in.active.mbr-table(role='tabpanel')
            .row.tab-content-row
              .col-xs-12.col-md-6.col-lg-4
                .card-img
                  span.mbri-file.mbr-iconfont
                h4.mbr-element-title.align-center.mbr-fonts-style.pb-2.display-5
                  | Assess
                p.mbr-section-text.align-center.mbr-fonts-style.display-7
                  | When students are able to see how they are doing in a class, they are able to determine whether or not they understand course material. 
              .col-xs-12.col-md-6.col-lg-4
                .card-img
                  span.mbri-file.mbr-iconfont
                h4.mbr-element-title.align-center.mbr-fonts-style.pb-2.display-5
                  | Critique
                p.mbr-section-text.align-center.mbr-fonts-style.display-7
                  | Students will be able to recognize their strengths and weaknesses of the in terms of studies.
              .col-xs-12.col-md-6.col-lg-4
                .card-img
                  span.mbri-file.mbr-iconfont
                h4.mbr-element-title.align-center.mbr-fonts-style.pb-2.display-5
                  | Rank
                p.mbr-section-text.align-center.mbr-fonts-style.display-7
                  | Well, ranking celebrates high achievers, positions them as role models, encourages broader courses of study hence it motivates students to perform.
          #tab2.tab-pane.mbr-table(role='tabpanel')
            .row.tab-content-row
              .col-xs-12.col-md-6.col-lg-4
                .card-img
                  span.mbri-paperclip.mbr-iconfont
                h4.mbr-element-title.align-center.mbr-fonts-style.pb-2.display-5
                  | Characterize,
                p.mbr-section-text.align-center.mbr-fonts-style.display-7
                  | Students will be able to develop a charactize based mindest that helps them classify thing appopriately.
              .col-xs-12.col-md-6.col-lg-4
                .card-img
                  span.mbri-paperclip.mbr-iconfont
                h4.mbr-element-title.align-center.mbr-fonts-style.pb-2.display-5
                  | Identity
                p.mbr-section-text.align-center.mbr-fonts-style.display-7
                  | Will help students know themselves even better.
              .col-xs-12.col-md-6.col-lg-4
                .card-img
                  span.mbri-paperclip.mbr-iconfont
                h4.mbr-element-title.align-center.mbr-fonts-style.pb-2.display-5
                  | Describe
                p.mbr-section-text.align-center.mbr-fonts-style.display-7
                  | Students will be able to learn alot that will help them know lots of meanings to various aspects of life.
          #tab3.tab-pane.mbr-table(role='tabpanel')
            .row.tab-content-row
              .col-xs-12.col-md-6.col-lg-4
                .card-img
                  span.mbri-unlink.mbr-iconfont
                h4.mbr-element-title.align-center.mbr-fonts-style.pb-2.display-5
                  | Construct
                p.mbr-section-text.align-center.mbr-fonts-style.display-7
                  | One understands what they are doing well and what they need help with. 
              .col-xs-12.col-md-6.col-lg-4
                .card-img
                  span.mbri-unlink.mbr-iconfont
                h4.mbr-element-title.align-center.mbr-fonts-style.pb-2.display-5
                  | Design
                p.mbr-section-text.align-center.mbr-fonts-style.display-7
                  | Its involves solution-focused and action-oriented. Its linked to creating an improved future and seeks to build ideas up.
              .col-xs-12.col-md-6.col-lg-4
                .card-img
                  span.mbri-unlink.mbr-iconfont
                h4.mbr-element-title.align-center.mbr-fonts-style.pb-2.display-5
                  | Organize
                p.mbr-section-text.align-center.mbr-fonts-style.display-7
                  | It reduces the feeling of being overwhelmed, one achieves more in less time, one gains a sense of control.          
  section#info4-2k.mbr-section.info4.cid-s3zyyy8MBZ(data-bg-video='https://youtu.be/pGbIOC83-So')
    .container
      .justify-content-center.row
        .media-container-column.title.col-12.col-md-10
          h2.align-right.mbr-bold.mbr-white.pb-3.mbr-fonts-style.display-2(style="color:black")
            | Do Not Be Left Out
          h3.mbr-section-subtitle.align-right.mbr-light.mbr-white.pb-3.mbr-fonts-style.display-5(style="color:black")
            | Shape your future by joining us for free.
          p.mbr-text.align-right.mbr-white.mbr-fonts-style.display-7(style="color:black")
            | Education is the passport to the future, for tomorrow belongs to those who prepare for it today. Your attitude, not your aptitude, will determine your altitude. If you think education is expensive, try ignorance.
          .mbr-section-btn.align-right.py-4
            a.btn.btn-primary.display-4(href='#features3-38')
              span.mbri-edit.mbr-iconfont.mbr-iconfont-btn
              | Join a Class
            a.btn.btn-success.display-4(href='/courses') Explore Courses
            
  section#features3-38.features3.cid-s3zEkv2fHI
    .container
      .media-container-row
        .card.p-3.col-12.col-md-6.col-lg-3
          .card-wrapper
            .card-img
              img(src='images/1.jpg' alt='univeristy')
            .card-box
              h4.card-title.mbr-fonts-style.display-7 First Year
              p.mbr-text.mbr-fonts-style.display-7
                | University can teach you skill and give you opportunity, but it can't teach you sense, nor give you understanding. Sense and understanding are produced within one's soul.
            .mbr-section-btn.text-center
              a.btn.btn-primary.display-4(href='/university_class')
                span.mbri-edit.mbr-iconfont.mbr-iconfont-btn
                | Join class
        .card.p-3.col-12.col-md-6.col-lg-3
          .card-wrapper
            .card-img
              img(src='images/2.jpg' alt='univeristy')
            .card-box
              h4.card-title.mbr-fonts-style.display-7 Second Year
              p.mbr-text.mbr-fonts-style.display-7
                | University can teach you skill and give you opportunity, but it can't teach you sense, nor give you understanding. Sense and understanding are produced within one's soul.
            .mbr-section-btn.text-center
              a.btn.btn-primary.display-4(href='/university_class')
                span.mbri-edit.mbr-iconfont.mbr-iconfont-btn
                |                             Join class
        .card.p-3.col-12.col-md-6.col-lg-3
          .card-wrapper
            .card-img
              img(src='images/3.jpg' alt='univeristy')
            .card-box
              h4.card-title.mbr-fonts-style.display-7 Third Year
              p.mbr-text.mbr-fonts-style.display-7
                | University can teach you skill and give you opportunity, but it can't teach you sense, nor give you understanding. Sense and understanding are produced within one's soul.
            .mbr-section-btn.text-center
              a.btn.btn-primary.display-4(href='/university_class')
                span.mbri-edit.mbr-iconfont.mbr-iconfont-btn
                |                             Join class
        .card.p-3.col-12.col-md-6.col-lg-3
          .card-wrapper
            .card-img
              img(src='images/4.jpg' alt='univeristy')
            .card-box
              h4.card-title.mbr-fonts-style.display-7 Forth Year
              p.mbr-text.mbr-fonts-style.display-7
                | University can teach you skill and give you opportunity, but it can't teach you sense, nor give you understanding. Sense and understanding are produced within one's soul.
            .mbr-section-btn.text-center
              a.btn.btn-primary.display-4(href='/university_class')
                span.mbri-edit.mbr-iconfont.mbr-iconfont-btn
                |                             Join class
